.input-group > .form-control, .input-group > 
.form-control-plaintext, .input-group > 
.custom-select, .input-group > .custom-file {
    flex: 0.5 1 auto !important;
}
.card-body{
    background-color: tomato;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    top: 220px;
    width: 238px;
    height: 70px;
    cursor: pointer;
    padding: 1 rem;
    text-align: center;
}
.card{
    border-radius: 14px !important;
}
.col{
    margin-bottom: 20px !important;
}
p{
    font-weight: bold !important;
    color: white;
}
.button{
    border: none;
    background-color:tomato;
    color:white;
}